.work-logs-section {
  border: 1px solid #ebeeef;
  border-radius: 4px;
  padding: 16px 19px 24px 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.work-logs-title {
  color: #003367;
  font-size: 20px;
  line-height: 32px;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}