.daily-block {
  margin-right: 20px;
}

.day-title {
  font-size: 14px;
  color: #546E7B;
  font-weight: 500;
}

.logs-divider {
  color: #546E7B;
  height: 2px;
  margin-top: 10px;
  width: 223px;
}
